<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182836971015-sfphrsp9cmgq7fg88akcutjec6tar3ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182836971015-sfphrsp9cmgq7fg88akcutjec6tar3ko</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>182836971015-jiee2o1nisuhh7eae4qljmpbjn0f2g5g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoIEncF7x-I-Eky0t3oBBZLmoaU7ZJZBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>182836971015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skidster.apps</string>
	<key>PROJECT_ID</key>
	<string>skidster-truckload</string>
	<key>STORAGE_BUCKET</key>
	<string>skidster-truckload.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182836971015:ios:f7385f4304cd381e04cca2</string>
	<key>DATABASE_URL</key>
	<string>https://skidster-truckload-default-rtdb.firebaseio.com</string>
</dict>
</plist>