<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677827270176-jrs95jhu7ptoqrudhrt7jiib9f3d8dj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677827270176-jrs95jhu7ptoqrudhrt7jiib9f3d8dj4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>677827270176-a4drdalstkdqqo970hs5ieln5o9cen0u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoCNctqJ0JaMsliVgsG5s1kbhe7rGuOMI</string>
	<key>GCM_SENDER_ID</key>
	<string>677827270176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skidster.app</string>
	<key>PROJECT_ID</key>
	<string>skidster-fc3b3</string>
	<key>STORAGE_BUCKET</key>
	<string>skidster-fc3b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677827270176:ios:2d2aa32fdb1f3a2c784e45</string>
</dict>
</plist>